extends layout

block content
  div(class="app-content")
    div(class="grid grid-2x-col-7 gap-50px")

      div(class="column-1")
        div(class="grid grid-2x")
          div(class="column-1")
            p(class="txt-site txt-11 txt-bold txt-main") Promo Terbaru Hari Ini
          div(class="column-2 content-right")
            a(
              href="#", 
              class="txt-site txt-11 txt-thin txt-primary txt-init-hover") Lihat Semua

        //- promo
        div(class="a-c-place flex")
          - for (var i=1; i<=2; i++) {
            div(class="card-promo")
              div(class="c-p-title") Lorem ipsum dores
              div(class="c-p-cover")
                div(
                  class="image image-all",
                  style="background-image: url('"+'/images/1-'+i+'.jpg'+"');")
          - }


      div(class="column-2")
        div(class="grid grid-2x")
          div(class="column-1")
            p(class="txt-site txt-11 txt-bold txt-main") Kategori
          div(class="column-2 content-right")
            a(
              href="#", 
              class="txt-site txt-11 txt-thin txt-primary txt-init-hover") Lihat Semua

        //- Category
        div(class="a-c-place flex")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-map-marker-alt")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-heart")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-map")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-car")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-chart-line")
        div(class="a-c-place flex")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-school")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-laptop")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-calendar-plus")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-camera")
          div(class="card-category")
            div(class="c-c-icon fa fa-lg fa-ellipsis-h")

  //- Buku terbaru
  div(class="app-content")
    div(class="a-c-place")
      div(class="grid grid-2x")
        div(class="column-1")
          p(class="txt-site txt-11 txt-bold txt-main") Paling Baru & Seru
        div(class="column-2 content-right")
          a(
            href="#", 
            class="txt-site txt-11 txt-thin txt-primary txt-init-hover") Lihat Semua
      
      //- content book items
      div(class="a-c-place flex")
        - for (var i=1; i<=4; i++) {
          div(class="card-book")
            div(class="c-b-top")
              button(
                  class="btn btn-main-color btn-circle btn-bag",
                  title="Simpan ke bag?")
                span(class="fa fa-lg fa-shopping-bag")
              a(href="#")
                div(
                    class="image image-all",
                    style="background-image: url('"+'/images/2-'+i+'.jpg'+"');")

            div(class="c-b-mid")
              h2 
                a(href="#") Lorem ipsum dores sit amet
              p
                div(class="c-b-rate margin-bottom-5px")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")

              p Harga: 
                span(class="txt-site txt-init txt-bold txt-font-1") IDR 45 K

            div(class="c-b-bot")
              div(class="c-b-b-col-1")
              div(class="c-b-b-col-2")
        - }

  //- Buku terpopuler
  div(class="app-content")
    div(class="a-c-place")
      div(class="grid grid-2x")
        div(class="column-1")
          p(class="txt-site txt-11 txt-bold txt-main") Paling Populer Saat Ini
        div(class="column-2 content-right")
          a(
            href="#", 
            class="txt-site txt-11 txt-thin txt-primary txt-init-hover") Lihat Semua
      
      //- content book items
      div(class="a-c-place flex")
        - for (var i=1; i<=4; i++) {
          div(class="card-book")
            div(class="c-b-top")
              button(
                  class="btn btn-main-color btn-circle btn-bag",
                  title="Simpan ke bag?")
                span(class="fa fa-lg fa-shopping-bag")
              a(href="#")
                div(
                    class="image image-all",
                    style="background-image: url('"+'/images/3-'+i+'.jpg'+"');")

            div(class="c-b-mid")
              h2 
                a(href="#") Lorem ipsum dores sit amet
              p
                div(class="c-b-rate margin-bottom-5px")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")

              p Harga: 
                span(class="txt-site txt-init txt-bold txt-font-1") IDR 45 K

            div(class="c-b-bot")
              div(class="c-b-b-col-1")
              div(class="c-b-b-col-2")
        - }
  
  //- Paling Banyak Dicari
  div(class="app-content")
    div(class="a-c-place")
      div(class="grid grid-2x")
        div(class="column-1")
          p(class="txt-site txt-11 txt-bold txt-main") Paling Banyak Dicari
        div(class="column-2 content-right")
          a(
            href="#", 
            class="txt-site txt-11 txt-thin txt-primary txt-init-hover") Lihat Semua
      
      //- content book items
      div(class="a-c-place flex")
        - for (var i=1; i<=4; i++) {
          div(class="card-book")
            div(class="c-b-top")
              button(
                  class="btn btn-main-color btn-circle btn-bag",
                  title="Simpan ke bag?")
                span(class="fa fa-lg fa-shopping-bag")
              a(href="#")
                div(
                    class="image image-all",
                    style="background-image: url('"+'/images/4-'+i+'.jpg'+"');")

            div(class="c-b-mid")
              h2 
                a(href="#") Lorem ipsum dores sit amet
              p
                div(class="c-b-rate margin-bottom-5px")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")

              p Harga: 
                span(class="txt-site txt-init txt-bold txt-font-1") IDR 45 K

            div(class="c-b-bot")
              div(class="c-b-b-col-1")
              div(class="c-b-b-col-2")
        - }


  //- Paling Banyak Dicari
  div(class="app-content")
    div(class="a-c-place")
      div(class="grid grid-2x")
        div(class="column-1")
          p(class="txt-site txt-11 txt-bold txt-main") Paling Banyak Dibeli
        div(class="column-2 content-right")
          a(
            href="#", 
            class="txt-site txt-11 txt-thin txt-primary txt-init-hover") Lihat Semua
      
      //- content book items
      div(class="a-c-place flex")
        - for (var i=1; i<=4; i++) {
          div(class="card-book")
            div(class="c-b-top")
              button(
                  class="btn btn-main-color btn-circle btn-bag",
                  title="Simpan ke bag?")
                span(class="fa fa-lg fa-shopping-bag")
              a(href="#")
                div(
                    class="image image-all",
                    style="background-image: url('"+'/images/5-'+i+'.jpg'+"');")

            div(class="c-b-mid")
              h2 
                a(href="#") Lorem ipsum dores sit amet
              p
                div(class="c-b-rate margin-bottom-5px")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn fas fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")
                  span(class="c-b-icn far fa-1x fa-star")

              p Harga: 
                span(class="txt-site txt-init txt-bold txt-font-1") IDR 45 K

            div(class="c-b-bot")
              div(class="c-b-b-col-1")
              div(class="c-b-b-col-2")
        - }

