doctype html
html
  head
    title= 'iBooK : Official Site'
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/icons/fontawesome/css/all.min.css')
  body
    div(class="app-panel")
      div(class="a-p-place")
        div(class="a-p-main")

          div(class="a-p-m-col-1")
            a(href="/")
              img(src="/images/logo.png", class="a-p-m-logo")
          
          div(class="a-p-m-col-2")
            button(class="btn btn-width-all btn-main2-color btn-radius")
              span Kategori 
              span(class="fa fa-lg fa-caret-down")

          div(class="a-p-m-col-3")
            form(action="#", method="GET")
              div(class="app-main-search")
                div(class="a-m-s-col-1")
                  input(
                    class="txt txt-trans-color", 
                    placeholder="Cari buku apa hari ini?",
                    required="true")
                div(class="a-m-s-col-2")
                  button(
                    class="btn btn-width-all btn-main-color btn-no-radius",
                    type="submit")
                    span(class="fa fa-lg fa-search")
          
          div(class="a-p-m-col-4")
            //- button(class="btn btn-main2-color btn-circle")
            //-   span(class="far fa-lg fa-comment-alt")
            //-   span(class="icn-notif") 2
            button(class="btn btn-main2-color btn-circle")
              span(class="far fa-lg fa-bell")
              span(class="icn-notif") 9
            button(class="btn btn-main2-color btn-radius")
              span(class="far fa-lg fa-user")
              span   ganjar

          div(class="a-p-m-col-5")
            button(class="btn btn-main4-color btn-circle")
              span(class="fa fa-2x fa-shopping-bag")
              span(class="icn-notif") 4

    div(class="app-body")
      div(class="a-b-place")
        block content

    div(class="app-footer")
      div(class="a-f-place")
        div(class="a-f-p-col-1")
          a(href="/")
            img(src="/images/logo.png", class="a-p-m-logo", style="width: 120px")
          p(class="txt-site txt-11 txt-primary margin-5px"). 
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            Delectus dicta magni similique enim deleniti aliquam animi 
            perspiciatis rem facilis quo dolores iure molestias 
            expedita eveniet beatae, totam exercitationem minus 
            perferendis!
          p(class="txt-site txt-11 txt-primary txt-bold"). 
            Copyright@2019

        div(class="a-f-p-col-2")
          h4(class="txt-site txt-12 txt-main txt-bold margin-5px") Informations
          ul(class="txt-site txt-11 txt-primary margin-5px")
            li(class="margin-5px") About Us
            li(class="margin-5px") Help
            li(class="margin-5px") Terms & Conditions
            li(class="margin-5px") Teams
            li(class="margin-5px") FAQ

        div(class="a-f-p-col-3")
          h4(class="txt-site txt-12 txt-main txt-bold margin-5px") Company
          ul(class="txt-site txt-12 txt-primary margin-5px")
            li(class="margin-5px") Phone: +620852222222
            li(class="margin-5px") Email: info@ibook.me
            li(class="margin-5px") Address: Jl. Lorem No. 34 40291

        div(class="a-f-p-col-4")
          h4(class="txt-site txt-12 txt-main txt-bold margin-5px") Connect with us
          div
            img(src="/images/play.png", class="margin-5px", style="width: 155px")
          div
            button(class="btn btn-circle btn-grey2-color")
              span(class="fab fa-lg fa-twitter")
            button(class="btn btn-circle btn-grey2-color")
              span(class="fab fa-lg fa-facebook")
            button(class="btn btn-circle btn-grey2-color")
              span(class="fab fa-lg fa-instagram")
