// card promo
.card-promo {
    position: relative;
    width: calc(100% - 15px);
    margin: 0 7.5px;
    overflow: hidden;
    border-radius: $radius-10;
    border-bottom: $border;
    cursor: pointer;
    &:hover {
        @include animate_1();
        box-shadow: 0px 5px 30px $txt-14-color;
    }
    .c-p-title {
        position: absolute;
        width: calc(100% - 30px);
        padding: 15px;
        z-index: 1;
        font-size: 12pt;
        font-weight: 600;
        color: $sek-color;
        text-shadow: 0px 0px 5px $txt-84-color;
    }
    .c-p-cover {
        position: relative;
        width: 100%;
        height: 150px;
        background-color: grey;
    }
}

//card category
$hg-c-ctr: 65px;
.card-category {
    position: relative;
    width: 100%;
    height: $hg-c-ctr;
    text-align: center;
    .c-c-icon {
        position: relative;
        width: $hg-c-ctr;
        height: $hg-c-ctr;
        line-height: $hg-c-ctr;
        border-radius: 100%;
        text-align: center;
        border: 1px $del-color solid;
        background-color: $sek-color;
        color: $del-color;
        margin: 5px 0;
        cursor: pointer;
        &:hover {
            @include animate_1();
            background-color: $del-color;
            color: $sek-color;
        }
    }
}

//card book
.card-book {
    position: relative;
    width: calc(100% - 15px);
    margin: 0 7.5px;
    overflow: hidden;
    border-radius: $radius-10;
    border: $border;
    &:hover {
        @include animate_1();
        box-shadow: 0px 5px 30px $txt-14-color;
        .btn-bag {
            @include animate_1();
            display: block;
        }
        .c-b-mid {
            h2 {
                a {
                    color: $min-color;
                }
            }
        }
    }
    .c-b-top {
        position: relative;
        width: 100%;
        height: 150px;
        background-color: #f3f3f3;
    }
    .c-b-mid {
        position: relative;
        width: calc(100% - 15px);
        padding: 0 7.5px;
        margin: 10px 0;
        h2 {
            font-size: 12pt;
            margin: 5px 0;
            a {
                color: $txt-84-color;
            }
        }
        p {
            font-size: 11pt;
            color: $txt-54-color;
        }
        .c-b-rate {
            font-size: 10pt;
            .fas {
                color: #ffee55;
            }
            .far {
                color: $txt-34-color;
            }
        }
    }
    .c-b-bot {
        position: relative;
        width: calc(100% - 15px);
        height: 2.5px;
        padding: 0 7.5px;
        margin: 10px 0;
        // @include grid_2x(1fr, 1fr);
        .c-b-b-col-1 {
            @include column_n(1);
        }
        .c-b-b-col-2 {
            text-align: right;
            @include column_n(2);
        }
    }
    .btn-bag {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 11pt;
        z-index: 10;
        display: none;
        &:hover {
            @include animate_1();
            box-shadow: 0px 5px 30px $txt-14-color;
            font-size: 13pt;
        }
    }
}