[contenteditable=true]:empty:not(:focus):before {
	content: attr(placeholder);
	display: block;
	color: rgba(0,0,0,0.34);
}


$min-height: 50px;
.txt {
	width: calc(100% - 30px);
	height: $min-height;
	font-size: 14px;
	font-weight: 900;
	padding: 0 15px;
	border-radius: 7.5px;
	z-index: 1;
	&.txt-no-shadow {
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
	&.txt-shadow {
		box-shadow: 0 0 0 4px $pos-color;
	}
	&.txt-radius {
		border-radius: 40px;
	}
	&.txt-main-color {
		background-color: #fff;
		color: rgba(0,0,0,0.84);
	}
	&.txt-primary-color {
		background-color: #f5f5f5;
		color: rgba(0,0,0,0.54);
	}
	&.txt-trans-color {
		background-color: rgba(0,0,0,0);
		color: rgba(0,0,0,0.54);
	}
	&.txt-box-shadow {
		box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	}
	&.txt-sekunder-color {
		height: 43px;
		background-color: #fff;
		color: rgba(0,0,0,0.84);
		border: 1px rgba(0,0,0,0.1) solid;
	}
	&.txt-sekunder-color:focus {
		border: 1px rgba(0,0,0,0.84) solid;
	}
	&.txt-unbox {
		box-shadow: 0 0 0 #fff;
	}
	&.txt-small {
		width: 100%;
		padding: 0;
	}
	&.edit-text {
		min-width: calc(100% - 30px);
		max-width: calc(100% - 30px);
		height: auto;
		min-height: 80px;
		max-height: 80px;
		overflow-y: auto;
		padding: 15px;
		border-radius: 3px;
		resize: none;
		img {
			width: 100%;
		}
	}
}
.slc {
	width: calc(100%);
	height: 40px;
	font-size: 14px;
	font-weight: 900;
	border-radius: 3px;
	* {
		color: $txt-sek-color;
	}
	option {
		width: calc(100% - 30px);
		padding: 15px;
		color: $txt-sek-color;
	}
	&.slc-sekunder-color {
		height: 38px;
		background-color: #fff;
		color: rgba(0,0,0,0.54);
		border: 1px rgba(0,0,0,0.1) solid;
	}
}

/*button normal*/
.btn {
	position: relative;
	padding: 0 14px;
	height: $min-height;
	border-radius: 5px;
	font-size: 11pt;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	/*&:focus {
		box-shadow: 0 0 0 4px $pos-color;
	}*/
	&.btn-width-all {
		width: 100%;
	}
	&.btn-cursor-default {
		cursor: default;
	}
	&.btn-focus:focus {
		background-color: rgba(225,225,225,0.54);
	}
	&.btn-no-focus:focus {
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
	&.btn-no-pad {
		padding: 0 0;
	}
	&.btn-upp {
		text-transform: uppercase;
	}
	&.btn-radius {
		border-radius: $min-height;
	}
	&.btn-no-radius {
		border-radius: 0;
	}
	&.btn-div {
		padding: 10px 15px;
		height: $min-height;
		line-height: $min-height;
	}
	&.btn-circle {
		width: $min-height;
		height: $min-height;
		padding: 0 0;
		border-radius: 100%;
		text-align: center;
	}
	&.btn-main-color {
		background-color: $min-color;
		color: $sek-color;
	}
	&.btn-main2-color {
		background-color: rgba(0,0,0,0);
		color: $txt-54-color;
		&:hover {
			background-color: rgba(225,225,225,0.54);
			color: $txt-84-color;
		}
	}
	&.btn-main3-color {
		background-color: $pos-color;
		color: $sek-color;
	}
	&.btn-main4-color {
		background-color: $sek-color;
		color: $min-color;
	}
	&.btn-main5-color {
		background-color: rgba(0,0,0,0);
		color: $pos-color;
	}
	&.btn-sekunder-color {
		background-color: $sek-color;
		color: $txt-sek-color;
		border: 1px rgba(0,0,0,0.1) solid;
		&:hover {
			color: $txt-min-color;
			border: 1px $txt-sek-color solid;
		}
		&.btn-no-border {
			border: 0 #fff solid;
		}
	}
	&.btn-black-color {
		background-color: rgba(0,0,0,0.54);
		color: $sek-color;
		&:hover {
			background-color: rgba(0,0,0,0.84);
		}
	}
	&.btn-grey-color {
		background-color: $txt-sek-color;
		color: $sek-color;
	}
	&.btn-grey2-color {
		background-color: rgba(225,225,225,0);
		color: $txt-sek-color;
		&:hover {
			background-color: rgba(225,225,225,0.54);
			color: $txt-min-color;
		}
	}
	&.btn-grey3-color {
		background-color: rgba(225,225,225,0.34);
		color: $txt-sek-color;
		&:hover {
			background-color: rgba(225,225,225,0.54);
			color: $txt-min-color;
		}
	}
	&.btn-grey4-color {
		background-color: rgba(225,225,225,0);
		color: $txt-sek-color;
		&:hover {
			background-color: rgba(225,225,225,0.54);
			color: $txt-min-color;
		}
	}
	&.btn-primary-color {
		background-color: rgba(225,225,225,0.34);
		color: $txt-sek-color;
		&:hover {
			background-color: rgba(225,225,225,0.54);
			color: $txt-min-color;
		}
	}
	&.btn-no-color {
		background-color: rgba(0,0,0,0);
		color: $txt-sek-color;
	}
	&.btn-color-fb {
		background-color: #44749d;
		color: #fff;
	}
	&.btn-color-gg {
		background-color: #9a0000;
		color: #fff;
	}
	&.btn-color-gg-2 {
		background-color: #fff;
		color: #9a0000;
		border: 1px #9a0000 solid;
	}
	&.btn-color-gg-3 {
		background-color: #fff;
		color: #9a0000;
	}
	&.btn-color-tw {
		background-color: #60d3f5;
		color: #fff;
	}
	&.btn-text-left {
		text-align: left;
	}
	&.btn-no-pad {
		padding: 15px 0;
	}
	&.btn-font-big {
		font-size: 18px;
	}
	.icn-notif {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 10pt;
		font-family: 'FontFirst2', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
		border-radius: 100%;
		background-color: $pos-color;
		color: #fff;
	}
}

.select {
	position: relative;
	width: 100%;
	height: 60px;
	overflow: hidden;
	border-radius: 5px;
	background-color: #f5f5f5;
	.main-select {
		position: relative;
		width: calc(100% - 20px);
		height: 40px;
		padding: 10px;
		border-radius: 5px;
		@include grid_3x(55px, 1fr, 40px);
		&:hover {
			background-color: #f0f0f0;
			cursor: pointer;
			.grid-3 {
				.chk {
					display: block;
				}
			}
		}
		&.selected {
			.grid-3 {
				.chk {
					display: block;
					background-color: $min-color;
					color: $sek-color;
				}
			}
		}
		.grid-1 {
			position: relative;
			@include column_1();
		}
		.grid-2 {
			position: relative;
			@include column_2();
			.ttl {
				@include post_top(relative);
			}
		}
		.grid-3 {
			position: relative;
			@include column_3();
			.chk {
				display: none;
			}
			.btn {
				@include post_top(relative);
			}
		}
	}
}