//text
.txt-site {
	&.txt-font-1 {
		font-family: 'FontFirst', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
	}
	&.txt-font-2 {
		font-family: 'FontFirst2', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
	}
	&.txt-font-3 {
		font-family: 'FontFirst3', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
	}
	&.txt-big {
		font-size: 42pt;
	}
	&.txt-small {
		font-size: 32pt;
	}
	&.txt-standar {
		font-size: 22pt;
	}
	&.txt-title {
		font-size: 18pt;
	}
	&.txt-subtitle {
		font-size: 16pt;
	}
	&.txt-description {
		font-size: 11pt;
	}
	&.txt-8 {
		font-size: 8pt;
	}
	&.txt-9 {
		font-size: 9pt;
	}
	&.txt-10 {
		font-size: 10pt;
	}
	&.txt-11 {
		font-size: 11pt;
	}
	&.txt-12 {
		font-size: 12pt;
	}
	&.txt-13 {
		font-size: 13pt;
	}
	&.txt-14 {
		font-size: 14pt;
	}
	&.txt-15 {
		font-size: 15pt;
	}
	&.txt-16 {
		font-size: 16pt;
	}
	&.txt-17 {
		font-size: 17pt;
	}
	&.txt-18 {
		font-size: 18pt;
	}
	&.txt-19 {
		font-size: 19pt;
	}
	&.txt-20 {
		font-size: 20pt;
	}
	&.txt-init {
		color: $min-color;
	}
	&.txt-underline-hover {
		&:hover {
			text-decoration: underline;
		}
	}
	&.txt-init-hover {
		&:hover {
			color: $min-color;
		}
	}
	a {
		text-decoration: none;
		&.txt-main {
			color: $txt-84-color;
			&:hover {
				color: $min-color;
			}
		}
	}
	&.txt-main {
		color: $txt-84-color;
		a {
			text-decoration: none;
			color: $txt-84-color;
			&:hover {
				color: $min-color;
			}
		}
	}
	a {
		text-decoration: none;
		&.txt-primary {
			color: $txt-54-color;
			&:hover {
				color: $txt-84-color;
			}
		}
	}
	&.txt-primary {
		color: $txt-54-color;
		a {
			color: $txt-54-color;
			text-decoration: none;
			&:hover {
				color: $txt-84-color;
			}
		}
	}
	&.txt-sekunder {
		color: $txt-34-color;
		a {
			color: $txt-34-color;
			text-decoration: none;
			&:hover {
				color: $txt-54-color;
			}
		}
	}
	&.txt-white {
		color: #fff;
	}
	&.txt-danger {
		color: $err-color;
	}
	&.txt-safe {
		color: $pos-color;
	}
	&.txt-white {
		color: #fff;
	}
	&.txt-bold {
		font-weight: 600;
	}
	&.txt-thin {
		font-weight: 500;
	}
	&.txt-center {
		text-align: center;
	}
	&.txt-capital {
		text-transform: capitalize;
	}
}