//fonts
@font-face {
	font-family: "FontFirst";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
	font-family: "FontFirst3";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

//variable
$col-full : calc(100% - 100px);
$max-width : 800px;
$std-width : 500px;
$min-width : 300px;

//radius
$radius: 5px;
$radius-10: 15px;
$radius-15: 15px;
$radius-20: 20px;

//color
$min-color : #ff5125;
$sek-color : #fff;
$pos-color : #529ecc;
$del-color : #ff8725;
$err-color : #ff253b;
$pri-color : #f3f3f3;
$txt-84-color: rgba(0,0,0,0.84);
$txt-54-color: rgba(0,0,0,0.54);
$txt-34-color: rgba(0,0,0,0.34);
$txt-14-color: rgba(0,0,0,0.14);
$txt-min-color: rgba(0,0,0,0.84);
$txt-sek-color: rgba(0,0,0,0.54);
$txt-size-title: 22px;
$txt-size-desc: 14px;
$txt-size-desc: 14px;
$txt-size-big: 32px;
$txt-size-12px: 12px;
$txt-size-14px: 14px;
$txt-size-16px: 16px;
$txt-size-18px: 18px;
$txt-size-20px: 20px;

$border: 1px #f3f3f3 solid;
$border2: 1px rgba(0,0,0,0.2) solid;
$no-border: 0 #fff solid;