@font-face {
  font-family: "FontFirst";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "FontFirst2";
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf"); }
@font-face {
  font-family: "FontFirst3";
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }
.txt-site.txt-font-1 {
  font-family: 'FontFirst', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana; }
.txt-site.txt-font-2 {
  font-family: 'FontFirst2', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana; }
.txt-site.txt-font-3 {
  font-family: 'FontFirst3', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana; }
.txt-site.txt-big {
  font-size: 42pt; }
.txt-site.txt-small {
  font-size: 32pt; }
.txt-site.txt-standar {
  font-size: 22pt; }
.txt-site.txt-title {
  font-size: 18pt; }
.txt-site.txt-subtitle {
  font-size: 16pt; }
.txt-site.txt-description {
  font-size: 11pt; }
.txt-site.txt-8 {
  font-size: 8pt; }
.txt-site.txt-9 {
  font-size: 9pt; }
.txt-site.txt-10 {
  font-size: 10pt; }
.txt-site.txt-11 {
  font-size: 11pt; }
.txt-site.txt-12 {
  font-size: 12pt; }
.txt-site.txt-13 {
  font-size: 13pt; }
.txt-site.txt-14 {
  font-size: 14pt; }
.txt-site.txt-15 {
  font-size: 15pt; }
.txt-site.txt-16 {
  font-size: 16pt; }
.txt-site.txt-17 {
  font-size: 17pt; }
.txt-site.txt-18 {
  font-size: 18pt; }
.txt-site.txt-19 {
  font-size: 19pt; }
.txt-site.txt-20 {
  font-size: 20pt; }
.txt-site.txt-init {
  color: #ff5125; }
.txt-site.txt-underline-hover:hover {
  text-decoration: underline; }
.txt-site.txt-init-hover:hover {
  color: #ff5125; }
.txt-site a {
  text-decoration: none; }
  .txt-site a.txt-main {
    color: rgba(0, 0, 0, 0.84); }
    .txt-site a.txt-main:hover {
      color: #ff5125; }
.txt-site.txt-main {
  color: rgba(0, 0, 0, 0.84); }
  .txt-site.txt-main a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84); }
    .txt-site.txt-main a:hover {
      color: #ff5125; }
.txt-site a {
  text-decoration: none; }
  .txt-site a.txt-primary {
    color: rgba(0, 0, 0, 0.54); }
    .txt-site a.txt-primary:hover {
      color: rgba(0, 0, 0, 0.84); }
.txt-site.txt-primary {
  color: rgba(0, 0, 0, 0.54); }
  .txt-site.txt-primary a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none; }
    .txt-site.txt-primary a:hover {
      color: rgba(0, 0, 0, 0.84); }
.txt-site.txt-sekunder {
  color: rgba(0, 0, 0, 0.34); }
  .txt-site.txt-sekunder a {
    color: rgba(0, 0, 0, 0.34);
    text-decoration: none; }
    .txt-site.txt-sekunder a:hover {
      color: rgba(0, 0, 0, 0.54); }
.txt-site.txt-white {
  color: #fff; }
.txt-site.txt-danger {
  color: #ff253b; }
.txt-site.txt-safe {
  color: #529ecc; }
.txt-site.txt-white {
  color: #fff; }
.txt-site.txt-bold {
  font-weight: 600; }
.txt-site.txt-thin {
  font-weight: 500; }
.txt-site.txt-center {
  text-align: center; }
.txt-site.txt-capital {
  text-transform: capitalize; }

.width {
  position: relative; }
  .width.width-center {
    margin: auto; }
  .width.width-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .width.width-all {
    width: calc(100% - 30px);
    padding: 0 15px; }
  .width.width-100px {
    width: 100px; }
    @media (max-width: 800px) {
      .width.width-100px {
        width: 100%; } }
  .width.width-150px {
    width: 150px; }
    @media (max-width: 800px) {
      .width.width-150px {
        width: 100%; } }
  .width.width-200px {
    width: 200px; }
    @media (max-width: 800px) {
      .width.width-200px {
        width: 100%; } }
  .width.width-250px {
    width: 250px; }
    @media (max-width: 800px) {
      .width.width-250px {
        width: 100%; } }
  .width.width-300px {
    width: 300px; }
    @media (max-width: 800px) {
      .width.width-300px {
        width: 100%; } }
  .width.width-350px {
    width: 350px; }
    @media (max-width: 800px) {
      .width.width-350px {
        width: 100%; } }
  .width.width-400px {
    width: 400px; }
    @media (max-width: 800px) {
      .width.width-400px {
        width: 100%; } }
  .width.width-450px {
    width: 450px; }
    @media (max-width: 800px) {
      .width.width-450px {
        width: 100%; } }
  .width.width-500px {
    width: 500px; }
    @media (max-width: 800px) {
      .width.width-500px {
        width: 100%; } }
  .width.width-550px {
    width: 550px; }
    @media (max-width: 800px) {
      .width.width-550px {
        width: 100%; } }
  .width.width-600px {
    width: 600px; }
    @media (max-width: 800px) {
      .width.width-600px {
        width: 100%; } }
  .width.width-650px {
    width: 650px; }
    @media (max-width: 800px) {
      .width.width-650px {
        width: 100%; } }
  .width.width-700px {
    width: 700px; }
    @media (max-width: 800px) {
      .width.width-700px {
        width: 100%; } }
  .width.width-750px {
    width: 750px; }
    @media (max-width: 800px) {
      .width.width-750px {
        width: 100%; } }
  .width.width-800px {
    width: 800px; }
    @media (max-width: 800px) {
      .width.width-800px {
        width: 100%; } }
  .width.width-850px {
    width: 850px; }
    @media (max-width: 800px) {
      .width.width-850px {
        width: 100%; } }
  .width.width-900px {
    width: 900px; }
    @media (max-width: 800px) {
      .width.width-900px {
        width: 100%; } }
  .width.width-950px {
    width: 950px; }
    @media (max-width: 800px) {
      .width.width-950px {
        width: 100%; } }
  .width.width-1000px {
    width: 1000px; }
    @media (max-width: 800px) {
      .width.width-1000px {
        width: 100%; } }

.padding-30px {
  padding: 30px 0; }

.padding-25px {
  padding: 25px 0; }

.padding-20px {
  padding: 20px 0; }

.padding-15px {
  padding: 15px 0; }

.padding-10px {
  padding: 10px 0; }

.padding-5px {
  padding: 5px 0; }

.padding-top-30px {
  padding-top: 30px; }

.padding-top-25px {
  padding-top: 25px; }

.padding-top-20px {
  padding-top: 20px; }

.padding-top-15px {
  padding-top: 15px; }

.padding-top-10px {
  padding-top: 10px; }

.padding-top-5px {
  padding-top: 5px; }

.padding-bottom-30px {
  padding-bottom: 30px; }

.padding-bottom-25px {
  padding-bottom: 25px; }

.padding-bottom-20px {
  padding-bottom: 20px; }

.padding-bottom-15px {
  padding-bottom: 15px; }

.padding-bottom-10px {
  padding-bottom: 10px; }

.padding-bottom-5px {
  padding-bottom: 5px; }

.margin-30px {
  margin: 30px 0; }

.margin-25px {
  margin: 25px 0; }

.margin-20px {
  margin: 20px 0; }

.margin-15px {
  margin: 15px 0; }

.margin-10px {
  margin: 10px 0; }

.margin-5px {
  margin: 5px 0; }

.margin-top-30px {
  margin-top: 30px; }

.margin-top-25px {
  margin-top: 25px; }

.margin-top-20px {
  margin-top: 20px; }

.margin-top-15px {
  margin-top: 15px; }

.margin-top-10px {
  margin-top: 10px; }

.margin-top-5px {
  margin-top: 5px; }

.margin-bottom-30px {
  margin-bottom: 30px; }

.margin-bottom-25px {
  margin-bottom: 25px; }

.margin-bottom-20px {
  margin-bottom: 20px; }

.margin-bottom-15px {
  margin-bottom: 15px; }

.margin-bottom-10px {
  margin-bottom: 10px; }

.margin-bottom-5px {
  margin-bottom: 5px; }

.image {
  position: relative;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0; }
  .image.no-bg-color {
    background-color: rgba(0, 0, 0, 0); }
  .image.image-20px {
    width: 20px;
    height: 20px; }
  .image.image-25px {
    width: 25px;
    height: 25px; }
  .image.image-30px {
    width: 30px;
    height: 30px; }
  .image.image-35px {
    width: 35px;
    height: 35px; }
  .image.image-40px {
    width: 40px;
    height: 40px; }
  .image.image-45px {
    width: 45px;
    height: 45px; }
  .image.image-50px {
    width: 50px;
    height: 50px; }
  .image.image-60px {
    width: 60px;
    height: 60px; }
  .image.image-70px {
    width: 70px;
    height: 70px; }
  .image.image-80px {
    width: 80px;
    height: 80px; }
  .image.image-90px {
    width: 90px;
    height: 90px; }
  .image.image-100px {
    width: 100px;
    height: 100px; }
  .image.image-110px {
    width: 110px;
    height: 110px; }
  .image.image-120px {
    width: 120px;
    height: 120px; }
  .image.image-130px {
    width: 130px;
    height: 130px; }
  .image.image-140px {
    width: 140px;
    height: 140px; }
  .image.image-150px {
    width: 150px;
    height: 150px; }
  .image.image-160px {
    width: 160px;
    height: 160px; }
  .image.image-170px {
    width: 170px;
    height: 170px; }
  .image.image-180px {
    width: 180px;
    height: 180px; }
  .image.image-190px {
    width: 190px;
    height: 190px; }
  .image.image-200px {
    width: 200px;
    height: 200px; }
  .image.image-250px {
    width: 250px;
    height: 250px; }
  .image.image-all {
    width: 100%;
    height: 100%; }
  .image.image-full {
    width: 100%;
    padding-bottom: 100%; }
  .image.image-middle {
    width: 100%;
    padding-bottom: 50%; }
  .image.image-radius {
    border-radius: 7.5px; }
  .image.image-circle {
    border-radius: 100%; }
  .image.image-pointer {
    cursor: pointer; }
  .image.image-more:hover .ttl {
    color: rgba(0, 0, 0, 0.84); }
  .image .ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 600; }
  .image .icn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.54); }
    .image .icn .icn-big {
      font-size: 34px; }

.grid {
  position: relative;
  width: 100%; }
  .grid.grid-5x {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr; }
  .grid.grid-4x {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr; }
  .grid.grid-3x {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr; }
  .grid.grid-2x {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr; }
  .grid.grid-2x-col-7 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 750px 1fr;
    -ms-grid-columns: 750px 1fr; }
  .grid.gap-5px {
    grid-gap: 5px;
    -ms-grid-gap: 5px; }
  .grid.gap-10px {
    grid-gap: 10px;
    -ms-grid-gap: 10px; }
  .grid.gap-15px {
    grid-gap: 15px;
    -ms-grid-gap: 15px; }
  .grid.gap-20px {
    grid-gap: 20px;
    -ms-grid-gap: 20px; }
  .grid.gap-30px {
    grid-gap: 30px;
    -ms-grid-gap: 30px; }
  .grid.gap-40px {
    grid-gap: 40px;
    -ms-grid-gap: 40px; }
  .grid.gap-50px {
    grid-gap: 50px;
    -ms-grid-gap: 50px; }
  .grid .column-1 {
    position: relative;
    width: 100%;
    grid-column: 1;
    -ms-grid-column: 1; }
  .grid .column-2 {
    position: relative;
    width: 100%;
    grid-column: 2;
    -ms-grid-column: 2; }
  .grid .column-3 {
    position: relative;
    width: 100%;
    grid-column: 3;
    -ms-grid-column: 3; }
  .grid .column-4 {
    position: relative;
    width: 100%;
    grid-column: 4;
    -ms-grid-column: 4; }
  .grid .column-5 {
    position: relative;
    width: 100%;
    grid-column: 5;
    -ms-grid-column: 5; }
  .grid .content-left {
    text-align: left; }
  .grid .content-center {
    text-align: center; }
  .grid .content-right {
    text-align: right; }

[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  display: block;
  color: rgba(0, 0, 0, 0.34); }

.txt {
  width: calc(100% - 30px);
  height: 50px;
  font-size: 14px;
  font-weight: 900;
  padding: 0 15px;
  border-radius: 7.5px;
  z-index: 1; }
  .txt.txt-no-shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .txt.txt-shadow {
    box-shadow: 0 0 0 4px #529ecc; }
  .txt.txt-radius {
    border-radius: 40px; }
  .txt.txt-main-color {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84); }
  .txt.txt-primary-color {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.54); }
  .txt.txt-trans-color {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.54); }
  .txt.txt-box-shadow {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .txt.txt-sekunder-color {
    height: 43px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84);
    border: 1px rgba(0, 0, 0, 0.1) solid; }
  .txt.txt-sekunder-color:focus {
    border: 1px rgba(0, 0, 0, 0.84) solid; }
  .txt.txt-unbox {
    box-shadow: 0 0 0 #fff; }
  .txt.txt-small {
    width: 100%;
    padding: 0; }
  .txt.edit-text {
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    height: auto;
    min-height: 80px;
    max-height: 80px;
    overflow-y: auto;
    padding: 15px;
    border-radius: 3px;
    resize: none; }
    .txt.edit-text img {
      width: 100%; }

.slc {
  width: calc(100%);
  height: 40px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 3px; }
  .slc * {
    color: rgba(0, 0, 0, 0.54); }
  .slc option {
    width: calc(100% - 30px);
    padding: 15px;
    color: rgba(0, 0, 0, 0.54); }
  .slc.slc-sekunder-color {
    height: 38px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    border: 1px rgba(0, 0, 0, 0.1) solid; }

/*button normal*/
.btn {
  position: relative;
  padding: 0 14px;
  height: 50px;
  border-radius: 5px;
  font-size: 11pt;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  /*&:focus {
  	box-shadow: 0 0 0 4px $pos-color;
  }*/ }
  .btn.btn-width-all {
    width: 100%; }
  .btn.btn-cursor-default {
    cursor: default; }
  .btn.btn-focus:focus {
    background-color: rgba(225, 225, 225, 0.54); }
  .btn.btn-no-focus:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .btn.btn-no-pad {
    padding: 0 0; }
  .btn.btn-upp {
    text-transform: uppercase; }
  .btn.btn-radius {
    border-radius: 50px; }
  .btn.btn-no-radius {
    border-radius: 0; }
  .btn.btn-div {
    padding: 10px 15px;
    height: 50px;
    line-height: 50px; }
  .btn.btn-circle {
    width: 50px;
    height: 50px;
    padding: 0 0;
    border-radius: 100%;
    text-align: center; }
  .btn.btn-main-color {
    background-color: #ff5125;
    color: #fff; }
  .btn.btn-main2-color {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-main2-color:hover {
      background-color: rgba(225, 225, 225, 0.54);
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-main3-color {
    background-color: #529ecc;
    color: #fff; }
  .btn.btn-main4-color {
    background-color: #fff;
    color: #ff5125; }
  .btn.btn-main5-color {
    background-color: rgba(0, 0, 0, 0);
    color: #529ecc; }
  .btn.btn-sekunder-color {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    border: 1px rgba(0, 0, 0, 0.1) solid; }
    .btn.btn-sekunder-color:hover {
      color: rgba(0, 0, 0, 0.84);
      border: 1px rgba(0, 0, 0, 0.54) solid; }
    .btn.btn-sekunder-color.btn-no-border {
      border: 0 #fff solid; }
  .btn.btn-black-color {
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff; }
    .btn.btn-black-color:hover {
      background-color: rgba(0, 0, 0, 0.84); }
  .btn.btn-grey-color {
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff; }
  .btn.btn-grey2-color {
    background-color: rgba(225, 225, 225, 0);
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-grey2-color:hover {
      background-color: rgba(225, 225, 225, 0.54);
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-grey3-color {
    background-color: rgba(225, 225, 225, 0.34);
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-grey3-color:hover {
      background-color: rgba(225, 225, 225, 0.54);
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-grey4-color {
    background-color: rgba(225, 225, 225, 0);
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-grey4-color:hover {
      background-color: rgba(225, 225, 225, 0.54);
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-primary-color {
    background-color: rgba(225, 225, 225, 0.34);
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-primary-color:hover {
      background-color: rgba(225, 225, 225, 0.54);
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-no-color {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.54); }
  .btn.btn-color-fb {
    background-color: #44749d;
    color: #fff; }
  .btn.btn-color-gg {
    background-color: #9a0000;
    color: #fff; }
  .btn.btn-color-gg-2 {
    background-color: #fff;
    color: #9a0000;
    border: 1px #9a0000 solid; }
  .btn.btn-color-gg-3 {
    background-color: #fff;
    color: #9a0000; }
  .btn.btn-color-tw {
    background-color: #60d3f5;
    color: #fff; }
  .btn.btn-text-left {
    text-align: left; }
  .btn.btn-no-pad {
    padding: 15px 0; }
  .btn.btn-font-big {
    font-size: 18px; }
  .btn .icn-notif {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10pt;
    font-family: 'FontFirst2', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    border-radius: 100%;
    background-color: #529ecc;
    color: #fff; }

.select {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f5f5f5; }
  .select .main-select {
    position: relative;
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 55px 1fr 40px;
    -ms-grid-columns: 55px 1fr 40px; }
    .select .main-select:hover {
      background-color: #f0f0f0;
      cursor: pointer; }
      .select .main-select:hover .grid-3 .chk {
        display: block; }
    .select .main-select.selected .grid-3 .chk {
      display: block;
      background-color: #ff5125;
      color: #fff; }
    .select .main-select .grid-1 {
      position: relative;
      grid-column: 1;
      -ms-grid-column: 1; }
    .select .main-select .grid-2 {
      position: relative;
      grid-column: 2;
      -ms-grid-column: 2; }
      .select .main-select .grid-2 .ttl {
        position: relative;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
    .select .main-select .grid-3 {
      position: relative;
      grid-column: 3;
      -ms-grid-column: 3; }
      .select .main-select .grid-3 .chk {
        display: none; }
      .select .main-select .grid-3 .btn {
        position: relative;
        top: 50%;
        left: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }

.border-all {
  border: 1px #f3f3f3 solid; }

.border-top {
  border-top: 1px #f3f3f3 solid; }

.border-bottom {
  border-bottom: 1px #f3f3f3 solid; }

.border-left {
  border-left: 1px #f3f3f3 solid; }

.border-right {
  border-right: 1px #f3f3f3 solid; }

.border-no {
  border: 0 #fff solid; }

.bdr-all {
  border: 1px #f3f3f3 solid; }

.bdr-top {
  border-top: 1px #f3f3f3 solid; }

.bdr-bottom {
  border-bottom: 1px #f3f3f3 solid; }

.bdr-left {
  border-left: 1px #f3f3f3 solid; }

.bdr-right {
  border-right: 1px #f3f3f3 solid; }

.bdr-no {
  border: 0 #fff solid; }

.card-promo {
  position: relative;
  width: calc(100% - 15px);
  margin: 0 7.5px;
  overflow: hidden;
  border-radius: 15px;
  border-bottom: 1px #f3f3f3 solid;
  cursor: pointer; }
  .card-promo:hover {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.14); }
  .card-promo .c-p-title {
    position: absolute;
    width: calc(100% - 30px);
    padding: 15px;
    z-index: 1;
    font-size: 12pt;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.84); }
  .card-promo .c-p-cover {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: grey; }

.card-category {
  position: relative;
  width: 100%;
  height: 65px;
  text-align: center; }
  .card-category .c-c-icon {
    position: relative;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 100%;
    text-align: center;
    border: 1px #ff8725 solid;
    background-color: #fff;
    color: #ff8725;
    margin: 5px 0;
    cursor: pointer; }
    .card-category .c-c-icon:hover {
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      background-color: #ff8725;
      color: #fff; }

.card-book {
  position: relative;
  width: calc(100% - 15px);
  margin: 0 7.5px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px #f3f3f3 solid; }
  .card-book:hover {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.14); }
    .card-book:hover .btn-bag {
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      display: block; }
    .card-book:hover .c-b-mid h2 a {
      color: #ff5125; }
  .card-book .c-b-top {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #f3f3f3; }
  .card-book .c-b-mid {
    position: relative;
    width: calc(100% - 15px);
    padding: 0 7.5px;
    margin: 10px 0; }
    .card-book .c-b-mid h2 {
      font-size: 12pt;
      margin: 5px 0; }
      .card-book .c-b-mid h2 a {
        color: rgba(0, 0, 0, 0.84); }
    .card-book .c-b-mid p {
      font-size: 11pt;
      color: rgba(0, 0, 0, 0.54); }
    .card-book .c-b-mid .c-b-rate {
      font-size: 10pt; }
      .card-book .c-b-mid .c-b-rate .fas {
        color: #ffee55; }
      .card-book .c-b-mid .c-b-rate .far {
        color: rgba(0, 0, 0, 0.34); }
  .card-book .c-b-bot {
    position: relative;
    width: calc(100% - 15px);
    height: 2.5px;
    padding: 0 7.5px;
    margin: 10px 0; }
    .card-book .c-b-bot .c-b-b-col-1 {
      grid-column: 1;
      -ms-grid-column: 1; }
    .card-book .c-b-bot .c-b-b-col-2 {
      text-align: right;
      grid-column: 2;
      -ms-grid-column: 2; }
  .card-book .btn-bag {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 11pt;
    z-index: 10;
    display: none; }
    .card-book .btn-bag:hover {
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.14);
      font-size: 13pt; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: 'FontFirst3', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana; }

a {
  text-decoration: none; }

.app-panel {
  position: relative;
  width: 100%;
  height: 80px; }
  .app-panel .a-p-place {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin: auto;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 2.5px 20px rgba(0, 0, 0, 0.14); }
    .app-panel .a-p-place .a-p-main {
      position: relative;
      width: calc(100% - 100px);
      padding: 15px 0;
      margin: auto;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 100px 115px 1fr 150px 50px;
      -ms-grid-columns: 100px 115px 1fr 150px 50px;
      grid-gap: 20px;
      -ms-grid-gap: 20px; }
      .app-panel .a-p-place .a-p-main .a-p-m-col-1 {
        position: relative;
        width: 100%;
        grid-column: 1;
        -ms-grid-column: 1; }
      .app-panel .a-p-place .a-p-main .a-p-m-col-2 {
        grid-column: 2;
        -ms-grid-column: 2; }
      .app-panel .a-p-place .a-p-main .a-p-m-col-3 {
        grid-column: 3;
        -ms-grid-column: 3; }
      .app-panel .a-p-place .a-p-main .a-p-m-col-4 {
        grid-column: 4;
        -ms-grid-column: 4;
        text-align: right; }
      .app-panel .a-p-place .a-p-main .a-p-m-col-5 {
        grid-column: 5;
        -ms-grid-column: 5;
        text-align: right; }
      .app-panel .a-p-place .a-p-main .a-p-m-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%; }

.app-main-search {
  position: relative;
  width: calc(100% - 100px);
  margin: auto;
  height: 50px;
  border-radius: 50px;
  background-color: #f3f3f3;
  overflow: hidden;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 100px;
  -ms-grid-columns: 1fr 100px; }
  .app-main-search .a-m-s-col-1 {
    grid-column: 1;
    -ms-grid-column: 1; }
  .app-main-search .a-m-s-col-2 {
    grid-column: 2;
    -ms-grid-column: 2; }
  .app-main-search .txt {
    width: calc(100% - 50px);
    padding: 0 25px; }

.app-body {
  position: relative;
  width: 100%;
  margin: 50px 0; }
  .app-body .a-b-place {
    position: relative;
    width: calc(100% - 100px);
    margin: auto; }

.app-content {
  position: relative;
  width: 100%;
  margin: 50px 0; }
  .app-content .a-c-place {
    position: relative;
    width: 100%;
    margin: 10px 0; }
    .app-content .a-c-place.flex {
      display: flex;
      flex-wrap: nowrap; }
    .app-content .a-c-place.wrap {
      overflow-y: hidden;
      white-space: nowrap; }
      .app-content .a-c-place.wrap .card-promo {
        width: 365px;
        display: inline-block;
        margin: 0 5px; }
      .app-content .a-c-place.wrap .card-book {
        display: inline-block;
        margin: 0 5px; }

.app-footer {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding: 50px 0;
  border-top: 1px #f3f3f3 solid; }
  .app-footer .a-f-place {
    position: relative;
    width: calc(100% - 100px);
    margin: auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 500px 1fr 1fr 1fr;
    -ms-grid-columns: 500px 1fr 1fr 1fr;
    grid-gap: 50px;
    -ms-grid-gap: 50px; }
    .app-footer .a-f-place .a-f-p-col-1 {
      grid-column: 1;
      -ms-grid-column: 1; }
    .app-footer .a-f-place .a-f-p-col-2 {
      grid-column: 2;
      -ms-grid-column: 2; }
    .app-footer .a-f-place .a-f-p-col-3 {
      grid-column: 3;
      -ms-grid-column: 3; }
    .app-footer .a-f-place .a-f-p-col-4 {
      grid-column: 4;
      -ms-grid-column: 4; }
  .app-footer ul li {
    list-style: none; }

/*# sourceMappingURL=app.css.map */
