@import "variables";
@import "position";
@import "text";
@import "width";
@import "padding";
@import "margin";
@import "image";
@import "grid";
@import "form";
@import "border";
@import "animation";
@import "card";

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    font-family: 'FontFirst3', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

a {
    text-decoration: none;
}


// Panel
$hg-panel: 80px;
$hg-panel-content: 50px;
.app-panel {
    position: relative;
    width: 100%;
    height: $hg-panel;
    .a-p-place {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $hg-panel;
        margin: auto;
        z-index: 100;
        background-color: #fff;
        box-shadow: 0px 2.5px 20px $txt-14-color;
        // border-bottom: $border;
        .a-p-main {
            position: relative;
            width: $col-full;
            padding: (($hg-panel - $hg-panel-content) / 2) 0;
            margin: auto;
            @include grid_5x(100px, 115px, 1fr, 150px, 50px);
            @include grid_gap(20px);
            .a-p-m-col-1 {
                position: relative;
                width: 100%;
                @include column_n(1);
            }
            .a-p-m-col-2 {
                @include column_n(2);
            }
            .a-p-m-col-3 {
                @include column_n(3);
            }
            .a-p-m-col-4 {
                @include column_n(4);
                text-align: right;
            }
            .a-p-m-col-5 {
                @include column_n(5);
                text-align: right;
            }
            .a-p-m-logo {
                @include post_center(absolute);
                width: 100%;
            }
        }
    }
}

.app-main-search {
    position: relative;   
    width: $col-full;
    margin: auto;
    height: $hg-panel-content;
    border-radius: $hg-panel-content;
    background-color: #f3f3f3;
    overflow: hidden;
    @include grid_2x(1fr, 100px);
    .a-m-s-col-1 {
        @include column_n(1);
    }
    .a-m-s-col-2 {
        @include column_n(2);
    }
    .txt {
        width: calc(100% - 50px);
        padding: 0 25px;
    }
}


// body
.app-body {
    position: relative;
    width: 100%;
    margin: 50px 0;
    .a-b-place {
        position: relative;
        width: $col-full;
        margin: auto;
    }
}


// main
.app-content {
    position: relative;
    width: 100%;
    margin: 50px 0;
    .a-c-place {
        position: relative;
        width: 100%;
        margin: 10px 0;
        &.flex {
            display: flex;
            flex-wrap: nowrap;
        }
        &.wrap {
            overflow-y: hidden;
            white-space: nowrap;
            .card-promo {
                width: 365px;
                display: inline-block;
                margin: 0 5px;
            }
            .card-book {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
}



// footer
.app-footer {
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
    border-top: $border;
    .a-f-place {
        position: relative;
        width: $col-full;
        margin: auto;
        @include grid_4x(500px, 1fr, 1fr, 1fr);
        @include grid_gap(50px);
        .a-f-p-col-1 {
            @include column_n(1)
        }
        .a-f-p-col-2 {
            @include column_n(2)
        }
        .a-f-p-col-3 {
            @include column_n(3)
        }
        .a-f-p-col-4 {
            @include column_n(4)
        }
    }
    ul {
        li {
            list-style: none;
        }
    }
}